body {
  font-family: 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  // padding: 0 15px;
  max-width: 960px;

  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

p {
  color: #555;
  line-height: 1.6em;
}

.no-bullets {
  margin: 0;
  padding: 0;
  list-style: none;
}

.image-responsive {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
