.section {
  padding: 48px 0;
  @include clearfix();

  &__title,
  &__subtitle {
    font-weight: 700;
    text-transform: uppercase;
    color: #7d7873;
    text-align: center;

    &--align-left {
      text-align: left;
    }

    &--align-right {
      text-align: right;
    }
  }
}
